


<h1>Fancy Spa</h1>
<div id="clientProfile">
    <h3>Client profile</h3>
</div>
<div id="servicesMenu">
    <h5>Facial Treatments</h5>
    Your @ViewBag.client.SkinType skin type is best suited to the follow facial types:

    <ul>
        @foreach (string facial in ViewBag.client.GetFacials())
        {
            <li>@facial</li>
        }
    </ul>
    <h5>Nail Services</h5>
    @if (ViewBag.client.NailService == "manicure")
    {
        <p>Our manicure is a great way to spend 30 minutes of your day! We use shea butter hand cream and the finest gel polish.</p>
    }
    else if (ViewBag.Client.NailService == "pedicure")
    {
        <p>Relax for 45 minutes in pure luxury! Our massage chairs and experienced nail techs are here to get your feet in shape for sandal season!</p>
    }
    else
    {
        <p>Our manicure is a great way to spend 30 minutes of your day! We use shea butter hand cream and the finest gel polish.</p>
        <p>Relax for 45 minutes in pure luxury! Our massage chairs and experienced nail techs are here to get your feet in shape for sandal season!</p>
    }

</div>

<div id="nailColor" style="display:inline-block;">
    <h6>Nail color selection</h6>
    <p class="square1" style="float:left;margin-right:5px;"></p>
    <p class="square2" style="float:left;margin-right:5px;"></p>
    <p class="square3" style="float:left;margin-right:5px;"></p>
</div>

