@using SpaDay.Models

@model User



<h1>Welcome, @Model.Username</h1>

<p>
    <a asp-controller="Spa" asp-action="Index">Select Spa Services</a>
</p>
<div class="form-group">
    <p>User: @Model.Username </p>
    <p>Email: @Model.Email </p>
    <p>Date joined: @Model.DateJoin</p>
</div>